html,
body {
    height: 100%;
}

body {
    font-family: 'Ubuntu', sans-serif !important;
  }

.text-white{color: #fff;} 

#header
{
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(http://arrisontheis.github.io/img/portfolio-bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}



#sobre {
  background-color: #444;
  height: 100%;
  padding-top: 30px;
}

#portfolio
{
  background-color: #333;
  height: 500px;
  padding-top: 30px;
}

#contato
{
  height: 700px;
  background-color: #222;
  padding-top: 30px;
}

.introducao
{
  padding-top: 190px;
}

.btn-inverse {
    color: #fff;
    background:rgba(0,0,0,.5);
    border-color: #111;
}

.btn-inverse:hover
{
  color: #fff;
  background-color: #111;
  -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.btn {border-radius: 0 !important;}


.navbar-default {
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar {
  border-radius: 0 !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff !important;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}
